<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clase #1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clase #1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>{{ texto }}</strong>
    <ion-button (click)="onClick()">Cambiar texto</ion-button>
  </div>

</ion-content>
